---
import Card from '../cards/Card.astro';

const { data } = Astro.props;

type DataItem = {
  image: string;
  alt: string;
};
---

<div class="swiper-container">
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        data.map((item: DataItem) => (
          <div class="swiper-slide">
            <Card image={item.image} alt={item.alt} width={300} height={300} />
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .swiper-container {
    width: 100%;
    max-width: calc(100vw - 1rem);
    margin: 0 auto;
    padding: 2rem 0;
  }
</style>

<script>
  import Swiper from 'swiper';
  import { Autoplay } from 'swiper/modules';

  new Swiper('.swiper', {
    modules: [Autoplay],
    slidesPerView: 2,
    spaceBetween: 10,
    centeredSlides: true,
    loop: true,
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
    breakpoints: {
      320: {
        slidesPerView: 2,
        spaceBetween: 10,
      },
      720: {
        slidesPerView: 3,
        spaceBetween: 15,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 15,
      },
      1200: {
        slidesPerView: 5,
        spaceBetween: 30,
      },
    },
  });
</script>
