<section
  aria-labelledby="about-heading"
  id="about"
  class="flex items-center justify-center flex-col h-80 sm:mx-2"
>
  <h3 id="about-heading" class="uppercase mb-5 text-sm tracking-base text-caption font-black">
    About us
  </h3>

  <p class="text-4xl font-bold text-center tracking-tight text-headline mb-10 max-w-3xl">
    We're Our Blooms® and we're here to help you find your floral story.
  </p>

  <button
    type="button"
    class="uppercase bg-accent-5 font-bold py-2 px-4 rounded-base text-typo-3 text-sm flex items-center gap-2 hover:bg-accent-2 hover:text-white transition-colors"
    aria-label="Learn more about us"
  >
    <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="2" cy="2" r="2" fill="currentColor"></circle>
    </svg>

    <span>About us</span>
  </button>
</section>
