---
import photoFull from '../../../assets/images/photos/photo-full.jpg';
import photoTablet from '../../../assets/images/photos/photo-tablet.jpg';
import photoMobile from '../../../assets/images/photos/photo-mobile.png';
---
<section aria-labelledby="photo-title" class="pt-6 mx-2 flex items-center justify-center mb-16">
  <picture>
    <source srcset={photoFull.src} media="(min-width: 1280px)" type="image/jpeg" />
    <source srcset={photoTablet.src} media="(min-width: 800px)" type="image/jpeg" />
    <img
      src={photoMobile.src}
      alt="A beautiful fresh flowers"
      width={1200}
      height={750}
      loading="eager"
      decoding="async"
      fetchpriority="high"
      class="w-full h-auto"
    />
  </picture>
</section>